@import url(reset.css);

a {
	display: block;
	width: 200px;
	height: 50px;
	background-color: lightblue;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding: 17px;
	box-sizing: border-box;
}

a:hover {
	background-color: red;
}

a:active {
	box-shadow: 0 0 8px grey;
	background-color: lightgreen;
}

a:visited {
	background-color: gray;
}